* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: lightslategray;
    color: #333;
    margin: 0;
    padding: 20px;
    height: 100%;
    width: 100%;
}

header {
    background-color: #fffdfd;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.list {
    width:70dvh;
    height: 100dvh;
  height:auto;
  background: #95a7c5;
  display: grid;
  grid-template-areas: 
  "aa"
  "aa"
  "bb"
  "bb"
  "cc"
  "cc"
  "dd"
  "dd"
  "ee"
  "ee"
  "ff"
  "ff"
  "gg"
  "gg"
  "hh"
  "hh"
  "ii"
  "ii"
  "jj"
  "jj";
}


h1 {
    margin: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.top10-item {
    background-color: #95a7c5;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
}

.top10-item img {
    width: auto;
    height: auto;
    border-radius: 50000px;
    margin-bottom: 10px;
}

.top10-item p {
    margin: 0;
    color: #4a6fa5;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4a6fa5;
    color: white;
    margin-top: 20px;
    flex: 0 0 auto;
}

